base58==2.1.1
bip32utils==0.3.post4
bitcoinlib==0.7.5
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==50.0.0
ecdsa==0.19.2
fastecdsa==3.0.1
idna==3.10
mnemonic==0.21
numpy==1.26.4
pycparser==2.23
pycryptodome==3.23.0
requests==2.32.5
six==1.17.0
sqlalchemy==2.0.43
typing-extensions==4.15.0
urllib3==2.5.0
